<%- include('partials/header.ejs'); -%>
<h1>Home</h1>
<p><%= homeStartingContent  %></p>
    <%if(newPosts.length>0){%>
        <%newPosts.forEach(function(post){%>
            <h1><%= post.title %></h1>
            <p><%= post.content.substring(0,100) + " ..." %>
                <a href="/post/<%= post.title %>">Read More</a>
            </p>
        <%})%>
    <%}%>
    <div class="btn">
    <a href="/compose"><button class="add">+</button></a>
    </div>
<%- include('partials/footer.ejs'); -%>
